{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h1>Homepage</h1>
    <img src="{% static 'images/djangoforprofessionals.jpg' %}" class="bookcover">
    {% if user.is_authenticated %}
        <p>Hello {{ user.email }}</p>
        <p><a href="{% url 'account_logout' %}">Log out</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'account_login' %}">Log in</a>
        <a href="{% url 'account_signup' %}">Sign up</a>
    {% endif %}
{% endblock content %}
